html,
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background: #191919;
  height: 100%;
  overflow: hidden;
}

header h1 {
  color: #f5f5f5;
  font-size: 2rem;
  font-weight: 600;
  line-height: 4rem;
  margin: 0;
}

header h1 > a {
  color: inherit;
  font-size: inherit;
  text-decoration: inherit;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px;
  color: #f5f5f5;
}
.side_box {
  width: 30%;
  max-width: 300px;
  height: 100vh;
  border-radius: 20px;
  padding: 20px;
  background: #0f0f0f;
}

.side_box p {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 16px;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background: #0f0f0f;
  border: 1px solid #f5f5f5;
}

pov-3d-viewer {
  width: 100%;
  height: 100%;
}

.option_area {
  width: 250px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #808080;
}

.color_picker_wrap {
  display: flex;
  align-items: center;
}

.color_picker {
  width: 80px;
  margin-right: 10px;
}

.color_picker_input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid #f5f5f5;
  color: #f5f5f5;
  font-size: 16px;
}

label {
  margin: 20px 0 10px 0;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: bold;
}

select {
  padding: 12px;
  background: #191919;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid #f5f5f5;
}

select + select {
  margin-left: 20px;
}
